body {
    background-color: #fcfcfc;
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main {      
    display: flex;
    width: 60%;
    height: 100vh;
    /* border: 1px solid red; */
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0;
}
.container {
    width:40%;
    padding: 40px;
    flex-grow: 2;
    color: #EDCCCC;
    background-color:#FCE3DF;
}

.slick-slide {
    text-align: center;
    color: #F5C39A;
    background: #EDCCCC;
}

.img_post {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.filterbar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: nowrap;
    height: 100vh;
    width:40%;
    padding:0px;
    margin:0px;
    background-color:#DC5E81;
    color: #6E2F41;
}

.love {
    padding: 12px 20px 12px 40px;
}

#myInput:focus {
    outline: none;
}

#myInput {
    background-color:#DC5E81;
    border:none;
    outline: none;
    width: 100%; /* Full-width */
    font-size: 1.2em; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border-bottom: 1px solid #FCE3DF; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    color: inherit;
}

#myUL {
    list-style-type: none;
    min-height: 400px;
}

#myUL > li > a {
    font-size:1.6em;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    
}

.paginationList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;

}

.paginationList > li {
    padding-right:10px;
    background: #C92C58;
    width: 25px;
    box-shadow: 0 5px 5px -5px rgba(255, 64, 129, 0.15), 0 10px 10px -5px rgba(255, 64, 129, 0.15), 0 15px 15px -5px rgba(255, 64, 129, 0.15), 0 20px 20px -5px rgba(255, 64, 129, 0.15);
    border-radius: 999px;
    transition: 0.25s ease;
    align-items: center;
    justify-content: center;
}


.paginationList > li > a {
    text-decoration: none;
    margin: 0 20px;

    color: inherit;
}


#pcontainer {
    flex:1;
}

.lovea {
    color: inherit;
}


.slick-prev:before {
  color: #6E2F41;
  font-size: 30px;
}

.slick-next:before {
  color: #6E2F41;
  font-size: 30px;
}
